<!-- About Section -->
<section id="about">
  <div class="container content-section text-center">
    <div class="row">
      <iframe width="750" height="422"
        src="//www.youtube.com/embed/xsM9JQTi86w?hl=nl&lang=NL&cc_lang_pref=nl&cc_load_policy=1&rel=0&modestbranding=1"
        frameborder="0" allowfullscreen=""></iframe>
    </div>
    <div class="row">
      <h2>Introductie</h2>
      <p>
        Museum of Things for People (MOTFP) is een vooronderzoek, inhoudelijk getrokken door het Design Museum Gent,
        naar hoe IoT-technologie kan bijdragen tot een verbetering van de aangeboden diensten en een verrijking van de
        bezoekerservaring. Op één jaar tijd willen we weten welke technologieën musea echt kunnen verder helpen en die
        leerervaring delen we graag met iedereen.
      </p>
      <p>
        Het resultaat is een IoT proefopstelling die alle bezoekers gratis kunnen proberen van 16 mei tot 16 oktober
        2019 in Design Museum Gent. Tijdens je bezoek monitort en analyseert het systeem je route en hoe lang je blijft
        stilstaan bij een bepaald kunstwerk. Dit alles is mogelijk door het gebruik van indoor locatiebepaling met
        sensoren, gecombineerd met slimme aanbeveling algoritmes. Zo krijgt het systeem een indruk van je interesses en
        wordt je naar gelijkaardige design gerelateerde plekken in de stad toegeleid.
      </p>
      <a href="#goal" class="btn btn-circle page-scroll">
        <i class="fa fa-angle-double-down animated"></i>
      </a>
    </div>

  </div>
  </div>

</section>
