<!-- context Section -->
<section id="context">

  <div class="container content-section text-center">
  <div class="row">

      <h2>Context</h2>
      <p>
        Dit project is een gesubsidieerd City of Things project, opgestart door de oproep van Vlaams minister van Innovatie Philippe Muyters en ondersteund door VLAIO om samen op zoek te gaan naar slimme internet-of-things-oplossingen. Als één van de 21 gesteunde projecten hebben wij een jaar de tijd gekregen om vooronderzoek te doen naar IoT-technologie. Dit project is een samenwerking tussen Stad Gent, Design Museum Gent, Digipolis Gent, Stad Oostende en De Krook.
      </p>


              <a href="#partners" class="btn btn-circle page-scroll">
              <i class="fa fa-angle-double-down animated"></i>
            </a>

    </div>
</div>
  </div>

</section>
