<section class="event">
    <img src="/img/MOTFP_banner_website.png" alt="MOTFP event banner" />
  </section>
  <section class="event_text container" style="font-family: assistant">
    <h2 id="margin-top">FUTURE OF CULTURE STUDIEDAG</h2>
    <p>Op 19 september willen inzoomen op de toekomst van cultuur en de rol van technologie binnen de cultuursector. Samen met alle MOTFP partners stellen we in de voormiddag de resultaten, conclusies en de toekomstplannen binnen het project voor.
      In de namiddag organiseren we samen met Cultuurconnect een studiedag over de toekomst van cultuur. We inspireren de culturele sector met een drietal razend interessante sprekers en een afsluitend panel. We voorzien voldoende ruimte voor discussie met het publiek.
    Deze event bijwonen is gratis maar registreren is verplicht. Er is koffie, lunch en en vooral veel inspiratie voorzien.</p>

    <h3>INSCHRIJVEN</h3>
    <p>Inschrijven doe je via <a href="http://bit.ly/FUTUREofCULTURE">http://bit.ly/FUTUREofCULTURE</a>.</p>
    <p>Je kan je inschrijven op drie verschillende onderdelen:<br>
      Je kan je inschrijven voor de hele dag van 10:00 tot 19:00<br>
        Enkel voor het MOTFP slotevent 10:00 tot 12:30. <br>
        Enkel voor de aansluitende studiedag over de toekomst van de cultuur van 13:30 tot 17:00.</p>

      <p>Om 17:30 is er een afsluitend moment in het Design Museum Gent waar je de MOTFP technologie gratis kan testen, alsook een natje en droogje krijgt om de dag af te sluiten.</p>
  </section>
