<section class="event">
  <img src="/img/MOTFP_banner_website.png" alt="MOTFP event banner" />
</section>
<section class="event_text container" style="font-family: assistant">
  <h3 id="margin-top">SAVE THE DATE</h3>
  <p>
    Wat brengt de toekomst van cultuur? Graag je aandacht voor deze studiedag
    waar wij, Foresight by Digipolis, de schouder onder hebben gezet. Samen met
    Stad Gent, Stad Oostende, Design Museum Gent, De Krook, en met steun van de
    Vlaamse Gemeenschap, leiden wij een IoT (Internet of Things) project rond
    cultuur en musea in goede banen. Bergen werk zijn reeds verzet. Daar zijn we
    trots op, en samen met alle partners stellen we graag aan je voor:
    <b>de resultaten, conclusies en de toekomstplannen</b>. En dat hebben we
    gepland op 19 september 2019 (hele dag).
  </p>
  <h3>Sensoren en persoonlijke ontdekkingen</h3>
  <p>
    De IoT opstelling die door techbedrijven <b>Pozyx</b> en
    <b>Crunch Analytics</b> is geïnstalleerd in <b>Design Museum Gent</b>, is
    klaar. Na een paar iteraties staat ze nu live voor het grote publiek. Voor
    wie het eens wil uitproberen, zijn er een 25-tal trackers voorzien. Tijdens
    je bezoek monitort en analyseert het systeem je gaan en staan. Op het einde
    van je bezoek zijn dan je gepersonaliseerde resultaten raadpleegbaar. Dit
    alles is mogelijk door een vernuftig en heel precies systeem van indoor
    positioning, locatiebepaling dus, gecombineerd met slimme matching
    algoritmes. De tracking meet onder andere hoe lang je blijft stilstaan bij
    een bepaald kunstwerk. Zo krijgt het systeem een indruk van je interesses.
    Je wordt naar gelijkaardige culturele objecten en nieuwe ontdekkingen
    toegeleid. In het museum zelf, in een van de andere musea of gewoon op
    openbare plaatsen in de stad.
  </p>
  <h3>Brede studiedag</h3>
  <p>
    Hoe dit alles werkt en welke uitdagingen hiermee gepaard gingen, doen we
    bondig maar grondig uit de doeken op onze <b>studiedag op 19 september</b>.
    Maar er is meer, veel meer! Samen met <b>Cultuurconnect</b> breiden we deze
    dag uit naar een studiedag over de toekomst van cultuur. We inspireren de
    culturele sector met een drietal razend interessante sprekers en een
    afsluitend panel. We voorzien ruimte voor discussie met het publiek.
  </p>
  <p>
    Gratis inschrijven doe je via
    <a href="http://bit.ly/FUTUREofCULTURE">http://bit.ly/FUTUREofCULTURE</a>
  </p>
</section>
