<!-- goal Section -->
<section id="goal" class="container content-section text-center">
  <div class="goal-section">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2"> 

          <h2>
            We onderzoeken de impact van IoT op drie verschillende niveau’s
          </h2>

        <div class="row">

        <li class="niveaus">

          <div class="box-dummy">

            <a  class="icon" href="#goal" target="_self">
              <span class="fas fa-user" data-animation="bounce">
              </span>
            </a>

         </div>  
        <h3>
          Menselijk
        </h3>
        <p>
          We onderzoeken in welke mate IoT gebruik menselijk en wenselijk is. Welke vormen van interactie zoeken bezoekers? Wat vinden ze intrusief? Welke handelingen zijn ze bereid te maken, enz. Dit willen we onderzoeken in dit project.
        </p>
       </li>



        <li class="niveaus">
          <div class="box-dummy">

            <a class="icon" href="#goal" target="_self">
              <span class="fas fa-wrench" data-animation="bounce">
              </span>
            </a>

          </div> 
          <h3>
            Technologisch
          </h3>

          <p>
             We onderzoeken welke technologieën het mogelijk maken om aan indoor tracking en profilering te doen. Zijn beacons interessanter tegenover LIDARS, smart camera’s, ultra wide band, wearables of andre technologie? En wat zijn de voordelen en voorwaarden?
          </p>
      </li>



      <li class="niveaus">
        <div class="box-dummy">
            <a class="icon" href="#goal" target="_self">
              <span class="fas fa-gavel" data-animation="bounce">
              </span>
            </a>
         </div> 
        <h3>
          Juridisch
        </h3>
        <p>
          Op basis van wat bezoekers willen en technologisch mogelijk is moeten we ook de juiste vragen durven stellen rond privacy en dataverzameling. Wat is de impact van de keuzes die we maken op de privacy? Zijn daar onbedoelde neveneffecten? Wat moeten we inbouwen om privacy te garanderen?
        </p>
      </li>

        </div>


       </div>


      </div>
              <a href="#context" class="btn btn-circle page-scroll">
              <i class="fa fa-angle-double-down animated"></i>
          </a>

    </div>
  </div>
</section>
