<section id="partners" class="content-section text-center">
  <div class="container">
    <div class="row">
      <h2>Partners</h2>
      <div class="col-md-2">
        <a href="https://stad.gent/" alt="Stad Gent website" target="_blank">
          <img
            class="gent"
            src="{{ site.baseurl }}img/partners/Logo_Gent.svg"
            alt="Stad Gent logo"
          />
        </a>
      </div>
      <div class="col-md-2">
        <a
          href="https://www.designmuseumgent.be/"
          alt="Design Museum Gent website"
          target="_blank"
        >
          <img
            class="dmg"
            src="{{ site.baseurl }}img/partners/Logo Design Museum Gent.svg"
            alt="Design Museum Gent logo"
          />
        </a>
      </div>
      <div class="col-md-2">
        <a
          href="https://www.digipolis.be/"
          alt="Digipolis website"
          target="_blank"
        >
          <img
            class="digipolis"
            src="{{ site.baseurl }}img/partners/Logo_digipolis.svg"
            alt="Digipolis Gent logo"
          />
        </a>
      </div>
      <div class="col-md-2">
        <a
          href="https://www.oostende.be/"
          alt="Stad Oostende website"
          target="_blank"
        >
          <img
            class="oostende"
            src="{{ site.baseurl }}img/partners/Stad-Oostende.svg"
            alt="Stad Oostende logo"
          />
        </a>
      </div>
      <div class="col-md-2">
        <a href="https://dekrook.be/" alt="De Krook website" target="_blank">
          <img
            class="krook"
            src="{{ site.baseurl }}img/partners/dekrook.svg"
            alt="De Krook logo"
          />
        </a>
      </div>
    </div>
    <div class="row">
      <h2>Providers</h2>
      <div class="col-md-2">
        <a href="https://www.crunchanalytics.be/" alt="Crunch Analytics website" target="_blank">
          <img
            class="Crunch"
            src="{{ site.baseurl }}img/partners/Logo_crunch.png"
            alt="Crunch Analytics logo"
          />
        </a>
      </div>
      <div class="col-md-3">
        <a
          href="https://www.ugent.be/mict/en"
          alt="MICT Website"
          target="_blank">
          <img
            class="MICT"
            src="{{ site.baseurl }}img/partners/Logo_mict.png"
            alt="MICT logo"
          />
        </a>
      </div>
      <div class="col-md-3">
        <a
          href="https://acontrario.law/"
          alt="Acontrario website"
          target="_blank"
        >
          <img
            class="acontrario"
            src="{{ site.baseurl }}img/partners/Acontrario_logo.jpg"
            alt="Acontrario logo"
          />
        </a>
      </div>
      <div class="col-md-3">
        <a
          href="https://www.pozyx.io/"
          alt="Pozyx website"
          target="_blank"
        >
          <img
            class="pozyx"
            src="{{ site.baseurl }}img/partners/Logo_pozyx.png"
            alt="Pozyx logo"
          />
        </a>
      </div>
    </div>
    <div class="row">
        <h2>Project met steun van</h2>
        <div class="col-md-6">
        <a
          href="https://www.vlaio.be/nl"
          alt="Vlaams agentschap innoveren & ondernemen"
          target="_blank"
        >
          <img
            class="vlaanderen"
            src="{{ site.baseurl }}img/partners/vlaio.svg"
            alt="De Krook logo"
          />
        </a>
        </div>
        <div class="col-md-6">
            <a
              href="https://www.imec.be"
              alt="imec"
              target="_blank"
            >
              <img
                class="imec"
                src="{{ site.baseurl }}img/partners/Logo_imec.svg"
                alt="imec logo"
              />
            </a>
        </div>
        <a href="#contact" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
        </a>
    </div>
  </div>
</section>
