<section id="partners" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <img
          src="{{ site.baseurl }}/img/partners/Logo_Gent.svg"
          alt="Stad Gent logo"
        />
      </div>
      <div class="col-md-2">
        <img
          src="{{
            site.baseurl
          }}/img/partners/Logo Design Museum Gent.svg"
          alt="Design Museum Gent logo"
        />
      </div>
      <div class="col-md-2">
        <img
          src="{{ site.baseurl }}/img/partners/Logo_digipolis.svg"
          alt="Digipolis Gent logo"
        />
      </div>
      <div class="col-md-2">
        <img
          src="{{ site.baseurl }}/img/partners/Stad-Oostende.svg"
          alt="Stad Oostende logo"
        />
      </div>
      <div class="col-md-2">
        <img
          src="{{ site.baseurl }}/img/partners/dekrook.svg"
          alt="De Krook logo"
        />
      </div>
    </div>
  </div>
</section>
